*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
# Project exclude paths
/common/auth/api/build/
/common/auth/api/build/classes/kotlin/iosArm64/main/klib/
/common/auth/api/build/classes/kotlin/iosX64/main/klib/
/common/auth/api/build/intermediates/javac/debug/classes/
/common/auth/compose/build/
/common/auth/compose/build/intermediates/javac/debug/classes/
/common/auth/data/build/
/common/auth/data/build/classes/kotlin/iosArm64/main/klib/
/common/auth/data/build/classes/kotlin/iosX64/main/klib/
/common/auth/data/build/intermediates/javac/debug/classes/
/common/auth/presentation/build/
/common/auth/presentation/build/classes/kotlin/iosX64/main/klib/
/common/auth/presentation/build/intermediates/javac/debug/classes/
/common/core/build/
/common/core/build/classes/kotlin/iosArm64/main/klib/
/common/core/build/classes/kotlin/iosX64/main/klib/
/common/core/build/intermediates/javac/debug/classes/
/common/core-compose/build/
/common/core-compose/build/intermediates/javac/debug/classes/
/common/core-utils/build/
/common/core-utils/build/intermediates/javac/debug/classes/
/common/games/api/build/
/common/games/api/build/classes/kotlin/iosArm64/main/klib/
/common/games/api/build/classes/kotlin/iosX64/main/klib/
/common/games/api/build/intermediates/javac/debug/classes/
/common/games/data/build/
/common/games/data/build/classes/kotlin/iosArm64/main/klib/
/common/games/data/build/classes/kotlin/iosX64/main/klib/
/common/games/data/build/intermediates/javac/debug/classes/
/common/main/api/build/
/common/main/api/build/intermediates/javac/debug/classes/
/common/main/compose/build/
/common/main/compose/build/intermediates/javac/debug/classes/
/common/main/presentation/build/
/common/main/presentation/build/classes/kotlin/iosX64/main/klib/
/common/main/presentation/build/intermediates/javac/debug/classes/
/common/tournaments/data/build/
/common/tournaments/data/build/intermediates/javac/debug/classes/
/common/umbrella-compose/build/
/common/umbrella-compose/build/intermediates/javac/debug/classes/
/common/umbrella-core/build/
/common/umbrella-core/build/classes/kotlin/iosX64/main/klib/
/common/umbrella-core/build/intermediates/javac/debug/classes/
/common/umbrella-ios/build/
/common/umbrella-ios/build/classes/kotlin/iosArm64/main/klib/
/common/umbrella-ios/build/classes/kotlin/iosX64/main/klib/